01_plans_coupants/main
01_plans_coupants/Makefile
01_plans_coupants/simulation1/

02_dualisation/*.dat
02_dualisation/*.project
02_dualisation/*.oplproject
02_dualisation/simulation2/

03_branch_and_cut/Makefile
03_branch_and_cut/main
03_branch_and_cut/defaultSave.txt

*/__pycache__/